{
    "openapi": "3.0.0",
    "info": {
        "title": "New Reading Api",
        "description": "API documentation for your Laravel application.",
        "contact": {
            "email": "rojonatanael99@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/api/authors": {
            "get": {
                "tags": [
                    "Authors"
                ],
                "summary": "Get a paginated list of authors",
                "description": "Returns a paginated list of authors, optionally filtered.",
                "operationId": "getAuthorsList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Authors"
                ],
                "summary": "Create a new author",
                "description": "Creates a new author record in the database.",
                "operationId": "createAuthor",
                "requestBody": {
                    "description": "Author data to store",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAuthorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Author created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "name": [
                                                    "The name field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/authors/{author}": {
            "get": {
                "tags": [
                    "Authors"
                ],
                "summary": "Get a single author by ID",
                "description": "Returns a single author record.",
                "operationId": "getAuthorById",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Authors"
                ],
                "summary": "Update an existing author",
                "description": "Updates an existing author record by ID.",
                "operationId": "updateAuthor",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Author data to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAuthorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Author updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email has already been taken."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Authors"
                ],
                "summary": "Delete an author",
                "description": "Deletes an author record by ID.",
                "operationId": "deleteAuthor",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Author deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Get a list of books",
                "operationId": "bookIndex",
                "parameters": [
                    {
                        "name": "filter[title]",
                        "in": "query",
                        "description": "Filter books by title (partial match)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[isbn]",
                        "in": "query",
                        "description": "Filter books by ISBN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[min_pages]",
                        "in": "query",
                        "description": "Filter books by minimum pages amount",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "filter[max_pages]",
                        "in": "query",
                        "description": "Filter books by maximum pages amount",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "filter[published_from]",
                        "in": "query",
                        "description": "Filter books published from a specific date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "filter[published_to]",
                        "in": "query",
                        "description": "Filter books published up to a specific date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include related resources (e.g., authors, genres, reviews)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "authors,genres"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Books"
                ],
                "summary": "Create a new book",
                "operationId": "bookStore",
                "requestBody": {
                    "description": "Data to create a new book",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreBookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Book created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Get a single book by slug",
                "operationId": "bookShow",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to retrieve",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include related resources (e.g., authors, genres, reviews)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "authors,genres,reviews"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Books"
                ],
                "summary": "Update an existing book",
                "operationId": "bookUpdate",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Data to update the book (all fields are optional but at least one must be provided)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Book updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Books"
                ],
                "summary": "Delete a book",
                "operationId": "bookDestroy",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to delete",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-book-to-delete"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Book deleted successfully (No Content)",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}/reading-progress": {
            "patch": {
                "tags": [
                    "Books"
                ],
                "summary": "Update a user's reading progress for a specific book",
                "operationId": "bookUpdateReadingProgress",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update progress for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New reading progress data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookReadingProgressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reading progress updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book or User-Book relationship not found"
                    },
                    "422": {
                        "description": "Validation error (e.g., pages_read exceeds total pages)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}/tag": {
            "patch": {
                "tags": [
                    "Books"
                ],
                "summary": "Update a user's tag for a specific book",
                "operationId": "bookUpdateTag",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update tag for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New tag data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookTagRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Book tag updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book or User-Book relationship not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StoreAuthorRequest": {
                "title": "Store Author Request",
                "description": "Request body for creating a new author",
                "required": [
                    "first_name",
                    "last_name",
                    "nationality",
                    "biography",
                    "image_url"
                ],
                "properties": {
                    "first_name": {
                        "description": "The first name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "John"
                    },
                    "last_name": {
                        "description": "The last name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "Doe"
                    },
                    "nationality": {
                        "description": "The nationality of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "American"
                    },
                    "biography": {
                        "description": "A short biography of the author",
                        "type": "string",
                        "example": "John Doe is a prolific writer known for his captivating sci-fi novels."
                    },
                    "image_url": {
                        "description": "URL to the author's profile image",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/images/john_doe.jpg"
                    }
                },
                "type": "object"
            },
            "UpdateAuthorRequest": {
                "title": "Update Author Request",
                "description": "Request body for updating an existing author. All fields are optional, providing only the ones to be updated.",
                "properties": {
                    "first_name": {
                        "description": "The updated first name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "Janet"
                    },
                    "last_name": {
                        "description": "The updated last name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "Smith"
                    },
                    "nationality": {
                        "description": "The updated nationality of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "British"
                    },
                    "biography": {
                        "description": "An updated biography of the author",
                        "type": "string",
                        "example": "Janet Smith is a celebrated author known for her historical fiction."
                    },
                    "image_url": {
                        "description": "Updated URL to the author's profile image",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/images/janet_smith_new.jpg"
                    }
                },
                "type": "object"
            },
            "StoreBookRequest": {
                "title": "Store Book Request",
                "description": "Request body for creating a new Book. All fields are required as per validation rules.",
                "required": [
                    "title",
                    "synopsis",
                    "isbn",
                    "pages_amount",
                    "chapters_amount",
                    "published_at"
                ],
                "properties": {
                    "title": {
                        "description": "Title of the book",
                        "type": "string",
                        "maxLength": 255,
                        "example": "The Secret Garden"
                    },
                    "synopsis": {
                        "description": "A brief summary or outline of the book's plot.",
                        "type": "string",
                        "example": "A classic story about a young girl who discovers a hidden garden."
                    },
                    "isbn": {
                        "description": "International Standard Book Number (unique identifier)",
                        "type": "string",
                        "maxLength": 255,
                        "example": "978-1234567890"
                    },
                    "pages_amount": {
                        "description": "Total number of pages in the book",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 288
                    },
                    "chapters_amount": {
                        "description": "Total number of chapters in the book",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 27
                    },
                    "published_at": {
                        "description": "The date the book was first published (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "example": "1911-08-01"
                    },
                    "image_url": {
                        "description": "Optional URL to the book's cover image",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/images/secret_garden_cover.jpg",
                        "nullable": true
                    },
                    "author_ids": {
                        "description": "Optional array of author IDs to associate with the book",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        },
                        "nullable": true
                    },
                    "genre_ids": {
                        "description": "Optional array of genre IDs to associate with the book",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        },
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "UpdateBookReadingProgressRequest": {
                "title": "Update Book Reading Progress Request",
                "description": "Request body for updating a user's reading progress on a specific book.",
                "required": [
                    "pages_read"
                ],
                "properties": {
                    "pages_read": {
                        "description": "The current page number the user has read up to for this book.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 150
                    }
                },
                "type": "object"
            },
            "UpdateBookRequest": {
                "title": "Update Book Request",
                "description": "Request body for updating an existing Book. All fields are optional, and only provided fields will be updated.",
                "properties": {
                    "title": {
                        "description": "The updated title of the book.",
                        "type": "string",
                        "maxLength": 255,
                        "example": "The Completely Revised Hitchhiker's Guide",
                        "nullable": true
                    },
                    "synopsis": {
                        "description": "An updated brief summary or outline of the book's plot.",
                        "type": "string",
                        "example": "Arthur Dent's continuing misadventures across the universe.",
                        "nullable": true
                    },
                    "isbn": {
                        "description": "The updated International Standard Book Number.",
                        "type": "string",
                        "maxLength": 255,
                        "example": "978-1-840-23652-3",
                        "nullable": true
                    },
                    "published_at": {
                        "description": "The updated publication date (YYYY-MM-DD).",
                        "type": "string",
                        "format": "date",
                        "example": "1980-01-01",
                        "nullable": true
                    },
                    "pages_amount": {
                        "description": "The updated total number of pages in the book.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 250,
                        "nullable": true
                    },
                    "chapters_amount": {
                        "description": "The updated total number of chapters in the book.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 40,
                        "nullable": true
                    },
                    "image_url": {
                        "description": "Optional URL to the book's new cover image.",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/images/new_hitchhikers_cover.jpg",
                        "nullable": true
                    },
                    "author_ids": {
                        "description": "Optional array of author IDs to associate with the book. This will overwrite existing associations.",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        },
                        "nullable": true
                    },
                    "genre_ids": {
                        "description": "Optional array of genre IDs to associate with the book. This will overwrite existing associations.",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        },
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "UpdateBookTagRequest": {
                "title": "Update Book Tag Request",
                "description": "Request body for updating a user's tag association for a specific book.",
                "required": [
                    "tag_id"
                ],
                "properties": {
                    "tag_id": {
                        "description": "The ID of the tag to associate with the book for the current user. Must be an existing tag ID.",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    }
                },
                "type": "object"
            },
            "Author": {
                "title": "Author",
                "description": "Author model representing a creative writer or artist.",
                "properties": {
                    "id": {
                        "description": "Unique identifier for the author",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true,
                        "example": 1
                    },
                    "first_name": {
                        "description": "The first name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "J.K."
                    },
                    "last_name": {
                        "description": "The last name of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "Rowling"
                    },
                    "full_name": {
                        "description": "The concatenated full name of the author (first_name + last_name)",
                        "type": "string",
                        "readOnly": true,
                        "example": "J.K. Rowling"
                    },
                    "nationality": {
                        "description": "The nationality of the author",
                        "type": "string",
                        "maxLength": 255,
                        "example": "British"
                    },
                    "biography": {
                        "description": "A brief biographical summary of the author",
                        "type": "string",
                        "example": "Joanne Rowling, most famously known as J.K. Rowling, is a British author, screenwriter, and producer best known for writing the Harry Potter fantasy series."
                    },
                    "image_url": {
                        "description": "URL to the author's profile image or photograph",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/images/jk_rowling.jpg"
                    },
                    "slug": {
                        "description": "Unique URL-friendly slug for the author (generated from full name)",
                        "type": "string",
                        "maxLength": 255,
                        "readOnly": true,
                        "example": "jk-rowling"
                    },
                    "created_at": {
                        "description": "Timestamp when the author record was created",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2023-01-01T12:30:00Z"
                    },
                    "updated_at": {
                        "description": "Timestamp when the author record was last updated",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2023-01-05T15:45:00Z"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Author"
                }
            },
            "Book": {
                "title": "Book",
                "description": "Book model representing a published literary work.",
                "properties": {
                    "id": {
                        "description": "The unique identifier of the book.",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true,
                        "example": 101
                    },
                    "title": {
                        "description": "The title of the book.",
                        "type": "string",
                        "maxLength": 255,
                        "example": "The Hitchhiker's Guide to the Galaxy"
                    },
                    "synopsis": {
                        "description": "A brief summary or outline of the book's plot and themes.",
                        "type": "string",
                        "example": "Arthur Dent's journey through space after Earth is destroyed to make way for a hyperspace bypass."
                    },
                    "isbn": {
                        "description": "The International Standard Book Number, a unique commercial book identifier.",
                        "type": "string",
                        "maxLength": 255,
                        "example": "978-0-345-39180-3"
                    },
                    "pages_amount": {
                        "description": "The total number of pages in the book.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 193
                    },
                    "chapters_amount": {
                        "description": "The total number of chapters in the book.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 35
                    },
                    "published_at": {
                        "description": "The date when the book was originally published (YYYY-MM-DD).",
                        "type": "string",
                        "format": "date",
                        "example": "1979-10-12"
                    },
                    "slug": {
                        "description": "A URL-friendly, unique identifier for the book, derived from its title.",
                        "type": "string",
                        "readOnly": true,
                        "example": "the-hitchhikers-guide-to-the-galaxy"
                    },
                    "image_url": {
                        "description": "The URL to the book's cover image.",
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/books/hitchhikers_guide.jpg",
                        "nullable": true
                    },
                    "reading_progress": {
                        "description": "The current authenticated user's reading progress percentage for this book (0-100).",
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true,
                        "example": 50
                    },
                    "average_rating": {
                        "description": "The calculated average rating of the book, formatted to one decimal place.",
                        "type": "string",
                        "readOnly": true,
                        "example": "4.2"
                    },
                    "created_at": {
                        "description": "The timestamp when the book record was created.",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2023-01-01T10:00:00Z"
                    },
                    "updated_at": {
                        "description": "The timestamp when the book record was last updated.",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2023-01-01T11:00:00Z"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Book"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Enter token in format (Bearer <token>)"
            }
        }
    },
    "tags": [
        {
            "name": "Authors",
            "description": "API Endpoints for Authors"
        },
        {
            "name": "Books",
            "description": "API Endpoints for Books"
        }
    ]
}