{
    "openapi": "3.0.0",
    "info": {
        "title": "New Reading Api",
        "description": "API documentation for your Laravel application.",
        "contact": {
            "email": "rojonatanael99@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/api/authors": {
            "get": {
                "tags": [
                    "Authors"
                ],
                "summary": "Get a paginated list of authors",
                "description": "Returns a paginated list of authors, optionally filtered.",
                "operationId": "getAuthorsList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Authors"
                ],
                "summary": "Create a new author",
                "description": "Creates a new author record in the database.",
                "operationId": "createAuthor",
                "requestBody": {
                    "description": "Author data to store",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAuthorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Author created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "name": [
                                                    "The name field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/authors/{author}": {
            "get": {
                "tags": [
                    "Authors"
                ],
                "summary": "Get a single author by ID",
                "description": "Returns a single author record.",
                "operationId": "getAuthorById",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Authors"
                ],
                "summary": "Update an existing author",
                "description": "Updates an existing author record by ID.",
                "operationId": "updateAuthor",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Author data to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAuthorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Author updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email has already been taken."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Authors"
                ],
                "summary": "Delete an author",
                "description": "Deletes an author record by ID.",
                "operationId": "deleteAuthor",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "ID of the author to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Author deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Author not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Get a list of books with optional filtering and pagination",
                "operationId": "bookIndex",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Filter books by title (partial match).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "galaxy",
                            "nullable": true
                        }
                    },
                    {
                        "name": "author_name",
                        "in": "query",
                        "description": "Filter books by author's full name (partial match).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "douglas adams",
                            "nullable": true
                        }
                    },
                    {
                        "name": "genre_name",
                        "in": "query",
                        "description": "Filter books by genre name (partial match).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "science fiction",
                            "nullable": true
                        }
                    },
                    {
                        "name": "tag_name",
                        "in": "query",
                        "description": "Filter books by tag name (partial match).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "classics",
                            "nullable": true
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter books by publication year. Must be a 4-digit integer.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2025,
                            "minimum": 1000,
                            "example": 1979,
                            "nullable": true
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15,
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1,
                            "nullable": true
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include related resources (e.g., authors, genres, reviews). Use comma-separated values.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "authors,genres"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Books"
                ],
                "summary": "Create a new book",
                "operationId": "bookStore",
                "requestBody": {
                    "description": "Data to create a new book",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreBookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Book created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Get a single book by slug",
                "operationId": "bookShow",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to retrieve",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include related resources (e.g., authors, genres, reviews)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "authors,genres,reviews"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Books"
                ],
                "summary": "Update an existing book",
                "operationId": "bookUpdate",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Data to update the book (all fields are optional but at least one must be provided)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Book updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Books"
                ],
                "summary": "Delete a book",
                "operationId": "bookDestroy",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to delete",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-book-to-delete"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Book deleted successfully (No Content)",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}/reading-progress": {
            "patch": {
                "tags": [
                    "Books"
                ],
                "summary": "Update a user's reading progress for a specific book",
                "operationId": "bookUpdateReadingProgress",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update progress for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New reading progress data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookReadingProgressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reading progress updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book or User-Book relationship not found"
                    },
                    "422": {
                        "description": "Validation error (e.g., pages_read exceeds total pages)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book}/tag": {
            "patch": {
                "tags": [
                    "Books"
                ],
                "summary": "Update a user's tag for a specific book",
                "operationId": "bookUpdateTag",
                "parameters": [
                    {
                        "name": "book",
                        "in": "path",
                        "description": "Slug of the book to update tag for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-lord-of-the-rings"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New tag data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookTagRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Book tag updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Book or User-Book relationship not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get a paginated list of all comments",
                "operationId": "commentIndex",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Comment"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Store a new comment ",
                "description": "This endpoint allows creating a comment.",
                "operationId": "commentStore",
                "requestBody": {
                    "description": "Comment data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCommentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/posts/{post_slug}/comments": {
            "get": {
                "tags": [
                    "Comments",
                    "Posts"
                ],
                "summary": "Get comments for a specific post",
                "operationId": "indexCommentsByPost",
                "parameters": [
                    {
                        "name": "post_slug",
                        "in": "path",
                        "description": "The slug of the post to retrieve comments for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-first-post"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Comment"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments",
                    "Posts"
                ],
                "summary": "Add a new comment to a specific post",
                "operationId": "storeCommentByPost",
                "parameters": [
                    {
                        "name": "post_slug",
                        "in": "path",
                        "description": "The slug of the post to comment on.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-first-post"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Comment data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCommentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden (e.g., user not following the post's author, or other access restrictions)."
                    },
                    "404": {
                        "description": "Resource not found."
                    },
                    "409": {
                        "description": "Conflict (e.g., User not following post author - UserNotFollowingException)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You must follow the author to comment on this post."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/reviews/{review_slug}/comments": {
            "get": {
                "tags": [
                    "Comments",
                    "Reviews"
                ],
                "summary": "Get comments for a specific review",
                "operationId": "indexCommentsByReview",
                "parameters": [
                    {
                        "name": "review_slug",
                        "in": "path",
                        "description": "The slug of the review to retrieve comments for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "awesome-book-review"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Comment"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments",
                    "Reviews"
                ],
                "summary": "Add a new comment to a specific review",
                "operationId": "storeCommentByReview",
                "parameters": [
                    {
                        "name": "review_slug",
                        "in": "path",
                        "description": "The slug of the review to comment on.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "great-read-review"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Comment data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCommentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden (e.g., user not following the review's author, or other access restrictions)."
                    },
                    "404": {
                        "description": "Resource not found."
                    },
                    "409": {
                        "description": "Conflict (e.g., User not following review author - UserNotFollowingException)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You must follow the author to comment on this review."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/comments/{comment_slug}": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get a single comment by its slug",
                "operationId": "commentShow",
                "parameters": [
                    {
                        "name": "comment_slug",
                        "in": "path",
                        "description": "The slug of the comment to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-great-comment-slug"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Comments"
                ],
                "summary": "Update an existing comment",
                "operationId": "commentUpdate",
                "parameters": [
                    {
                        "name": "comment_slug",
                        "in": "path",
                        "description": "The slug of the comment to update.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-great-comment-slug"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated comment data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCommentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden (e.g., user is not the owner of the comment)."
                    },
                    "404": {
                        "description": "Resource not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete a comment by its slug",
                "operationId": "commentDestroy",
                "parameters": [
                    {
                        "name": "comment_slug",
                        "in": "path",
                        "description": "The slug of the comment to delete.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-great-comment-to-delete"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Comment deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden (e.g., user is not the owner of the comment)."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/genres": {
            "get": {
                "tags": [
                    "Genres"
                ],
                "summary": "Get a paginated list of all genres",
                "operationId": "genreIndex",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Genre"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Genres"
                ],
                "summary": "Create a new genre",
                "operationId": "genreStore",
                "requestBody": {
                    "description": "Genre data to store",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreGenreRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Genre created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Genre"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/genres/{genre_slug}": {
            "get": {
                "tags": [
                    "Genres"
                ],
                "summary": "Get a single genre by its slug",
                "operationId": "genreShow",
                "parameters": [
                    {
                        "name": "genre_slug",
                        "in": "path",
                        "description": "The slug of the genre to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "fantasy"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Genre"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Genres"
                ],
                "summary": "Update an existing genre",
                "operationId": "genreUpdate",
                "parameters": [
                    {
                        "name": "genre_slug",
                        "in": "path",
                        "description": "The slug of the genre to update.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "fantasy"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated genre data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGenreRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Genre updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Genre"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Genres"
                ],
                "summary": "Delete a genre by its slug",
                "operationId": "genreDestroy",
                "parameters": [
                    {
                        "name": "genre_slug",
                        "in": "path",
                        "description": "The slug of the genre to delete.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "fantasy"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Genre deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get a paginated list of all posts",
                "operationId": "postIndex",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Create a new post",
                "operationId": "postStore",
                "requestBody": {
                    "description": "Post data to store. Provide 'book_id' if not creating via a book-specific route.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StorePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book_slug}/posts": {
            "get": {
                "tags": [
                    "Books",
                    "Posts"
                ],
                "summary": "Get a paginated list of posts for a specific book",
                "operationId": "postIndexByBook",
                "parameters": [
                    {
                        "name": "book_slug",
                        "in": "path",
                        "description": "The slug of the book to retrieve posts for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-hobbit"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Book not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Books",
                    "Posts"
                ],
                "summary": "Create a new post for a specific book",
                "description": "Creates a new post associated with the given book. The 'book_id' in the request body is optional for this endpoint.",
                "operationId": "postStoreByBook",
                "parameters": [
                    {
                        "name": "book_slug",
                        "in": "path",
                        "description": "The slug of the book to create the post for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-hobbit"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Post data to store.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StorePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Book not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/users/{user_slug}/posts": {
            "get": {
                "tags": [
                    "Users",
                    "Posts"
                ],
                "summary": "Get a paginated list of posts by a specific user",
                "operationId": "postIndexByUser",
                "parameters": [
                    {
                        "name": "user_slug",
                        "in": "path",
                        "description": "The slug of the user to retrieve posts for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "johndoe"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "User not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Users",
                    "Posts"
                ],
                "summary": "Create a new post for a specific user",
                "description": "Creates a new post associated with the given user.",
                "operationId": "postStoreByUser",
                "parameters": [
                    {
                        "name": "user_slug",
                        "in": "path",
                        "description": "The slug of the user to create the post for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "johndoe"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Post data to store.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StorePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "User not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/posts/{post_slug}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get a single post by its slug",
                "operationId": "postShow",
                "parameters": [
                    {
                        "name": "post_slug",
                        "in": "path",
                        "description": "The slug of the post to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-reading-update"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Post not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Posts"
                ],
                "summary": "Update an existing post",
                "operationId": "postUpdate",
                "parameters": [
                    {
                        "name": "post_slug",
                        "in": "path",
                        "description": "The slug of the post to update.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-reading-update"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated post data.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Post not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "summary": "Delete a post by its slug",
                "operationId": "postDestroy",
                "parameters": [
                    {
                        "name": "post_slug",
                        "in": "path",
                        "description": "The slug of the post to delete.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-reading-update"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Post deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Post not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/reviews": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Get a paginated list of all reviews",
                "operationId": "reviewIndex",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Review"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Create a new review",
                "operationId": "reviewStore",
                "requestBody": {
                    "description": "Review data to store. Provide 'book_id' if not creating via a book-specific route.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreReviewRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Review created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Review"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/users/{user_slug}/reviews": {
            "get": {
                "tags": [
                    "Users",
                    "Reviews"
                ],
                "summary": "Get a paginated list of reviews by a specific user",
                "operationId": "reviewIndexByUser",
                "parameters": [
                    {
                        "name": "user_slug",
                        "in": "path",
                        "description": "The slug of the user to retrieve reviews for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "johndoe"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Review"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "User not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/books/{book_slug}/reviews": {
            "get": {
                "tags": [
                    "Books",
                    "Reviews"
                ],
                "summary": "Get a paginated list of reviews for a specific book",
                "operationId": "reviewIndexByBook",
                "parameters": [
                    {
                        "name": "book_slug",
                        "in": "path",
                        "description": "The slug of the book to retrieve reviews for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-hobbit"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Review"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Book not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Books",
                    "Reviews"
                ],
                "summary": "Create a new review for a specific book",
                "description": "Creates a new review associated with the given book. The 'book_id' in the request body is optional for this endpoint.",
                "operationId": "reviewStoreByBook",
                "parameters": [
                    {
                        "name": "book_slug",
                        "in": "path",
                        "description": "The slug of the book to create the review for.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "the-hobbit"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Review data to store.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreReviewRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Review created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Review"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Book not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/reviews/{review}": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Get a single review by ID",
                "operationId": "reviewShow",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "description": "The ID of the review to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Review"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Review not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Update an existing review",
                "operationId": "reviewUpdate",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "description": "The ID of the review to update.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated review data. All fields are optional.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReviewRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Review"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Review not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Delete a review by ID",
                "operationId": "reviewDestroy",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "description": "The ID of the review to delete.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Review deleted successfully (No Content)"
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Review not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/reviews/{review}/like": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Like a review",
                "operationId": "reviewLike",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "description": "The ID of the review to like.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review liked successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Review liked"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Review not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/reviews/{review}/dislike": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Dislike a review",
                "operationId": "reviewDislike",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "description": "The ID of the review to dislike.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review disliked successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Review disliked"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Review not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tags": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "Get a paginated list of all tags",
                "operationId": "tagIndex",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to retrieve.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": 1
                        }
                    }
                ],
                "responses": {
[...]
